mixin picture({src, alt, className })
	- const { versions } = HELPERS.getImageMeta(src);
	- const srcset = HELPERS.createImgSrcset(versions.default, versions.large);
	- const srcsetWebp = HELPERS.createImgSrcset(versions.defaultWebp, versions.largeWebp);
	- const args = {src: versions.default.src, srcset, srcsetWebp, alt}

	div(
		style=`padding-bottom: ${versions.default.paddingBottom};`
		class=HELPERS.classnames(className, 'picture')
	)
		picture
			source(
				type="image/webp"
				loading="lazy"
				sizes=CONSTANTS.IMG_FULLWIDTH_SIZES
				srcset=srcsetWebp
			)
			img(
				alt=alt
				sizes=CONSTANTS.IMG_FULLWIDTH_SIZES
				srcset=srcset
				src=src
			)
