extends ../layouts/main.pug

block meta
	title= `${post.town} | Daniel Levett`

block content
	main
		article
			header.blog-header
				h1.heading--main= post.town
					span.subheading= `${post.country} | ${post.humanDate}`

			each image, i in post.images
				+imageLink(image)
					figure
						+picture(HELPERS.immutableExtend(image, {
							className: 'blog-image' + (i === post.images.length - 1 ? ' last' : ''),
							lazyLoad: i > 1
						}))
						if image.caption
							figcaption.visually-hidden= image.caption

			include includes/relatedPosts.pug

			if post.jsonLd
				script(type="application/ld+json" data-no-instant)!= JSON.stringify(post.jsonLd)
