extends ../layouts/main

block meta
    title=`${post.town} | Daniel Levett`

block content
    article
        header.site-header
            h1.site-heading=post.town
                span.site-subheading=`${post.country} | ${post.humanDate}`

        each image, i in post.images
            +imageLink(image)
                figure
                    +picture(image, {
                        className: 'blog-image' + (i === post.images.length - 1 ? ' last' : ''),
                        lazyLoad: i > 1
                    })
                    if image.caption
                        figcaption.hidden=image.caption

        include ./relatedPosts
