doctype html
html(lang="en-GB")
	head
		include ./includes/meta.pug
		title= `Error - ${message}`
		link(rel="stylesheet" href=HELPERS.getRevvedPath('/styles/main.css'))
		include ./includes/headScripts.pug
		include ./includes/favicons.pug
		style.
			html, body {
				min-height: 100vh;
				margin: 0 20px;
				padding: 0;
			}
			body {
				display: flex;
				align-items: center;
			}
			h1 {
				margin: 0 0 20px;
			}
			pre {
				text-align: left;
				max-width: 960px;
				margin: 50px auto;
				overflow: auto;
				padding: 20px;
				background: #eee;
			}
			.error-heading-wrapper {
				width: 100%;
				text-align: center;
				margin: 40px 0;
			}
			.error-heading-status {
				font-size: 2em;
			}
	body
		.error-heading-wrapper
			h1
				.error-heading-status= status
				div= message
			a(href="/") take me back home
			if DEBUG && error
				pre= error.stack
