extends ./layouts/main.pug

block meta
	title Daniel Levett
	meta(name="description" content="London-based fullstack web developer.")

block content
	main
		header.home-header
			h1.home-heading.heading--main Daniel Levett
				span.subheading.subheading--reduced-margin Fullstack Web Developer
			ul.home-header__links
				li
					a(href="https://github.com/dlevs") GitHub
				li
					a(href="https://www.linkedin.com/in/daniellevett/") LinkedIn
				li
					a(href="/travel") Travel Blog

		section.baseline-section
			h2.heading--underlined Projects
			p.baseline-huge
				= `You can find the projects I’m working on, including `
				a(href="https://github.com/dlevs/dlevs.com") the source code for this site,
				= ' on '
				a(href="https://github.com/dlevs") my GitHub page
				= `. Below is a selection of projects that you won’t find on GitHub that highlight my work for eCommerce websites.`

			ul.project-list
				each project, i in projects
					li.project
						h3= project.heading

						figure.project__image-wrapper
							+imageLink(project.img, {'data-caption': project.heading})
								+picture(HELPERS.immutableExtend(project.img, {
									className: 'project__image',
									lazyLoad: i > 1
								}))

							figcaption.project__description
								+readMore(project.shortDescription, project.description)

						if project.badges
							ul.project__badges
								each badge in project.badges
									li
										a.badge(href=technologies[badge].url title=`Built using ${badge}`)= badge

		section.baseline-section
			h2.heading--underlined Experience
			ul.brand-list
				each brand in brands
					li.brand
						a(href=brand.url title=brand.title rel="noreferrer")
							img.brand__image(src=brand.svg alt=brand.name)

		each json in jsonLd
			script(type="application/ld+json" data-no-instant)!= JSON.stringify(json)
