mixin imageLink({src}, attrs={})
	- const { type, versions, mapLink } = HELPERS.getMediaMeta(src);

	if type === 'image'
		a.js-photoswipe(
			href=versions.large.src
			data-href-webp=versions.largeWebp.src
			data-width=versions.large.width
			data-height=versions.large.height
			data-map-link=mapLink
			data-no-instant
		)&attributes(attrs)
			block
	else
		block
