mixin picture({src, alt}, {className, lazyLoad=true, altOverwrite} = {})
    - const image = IMAGE_META[src].default;

    //- TODO: Used to serve webp images here, but it doesn't play well with current lazyload solution. Revisit.
    div(
        style=`padding-bottom: ${image.paddingBottom};`
        class=`${className} image-wrapper ${lazyLoad ? 'lazyload-wrapper' : ''}`.trim()
    )
        img(
            alt=altOverwrite !== undefined ? altOverwrite : alt
        )&attributes(
            lazyLoad
                ? {
                    'class': 'lazyload',
                    'data-src': image.src,
                    'src': CONSTANTS.SINGLE_PIXEL_TRANSPARENT
                }
                : {
                    'src': image.src
                }
        )
