mixin picture({src, alt}, {className} = {})
    - const matches = /\/(\d+\.\d{4})_/.exec(src);
    - const paddingBottom = matches && matches[1];

    div(
        style=paddingBottom ? `padding-bottom: ${paddingBottom}%;` : null
        class=`${className} ${paddingBottom ? 'image-wrapper' : ''}`.trim()
    )
        img.lazyload(
            data-srcset=`${src.replace(/\.[^\.]+$/, '.webp')}, ${src}`
            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
            alt=alt
        )