mixin picture({src, alt, className, lazyLoad=true})
	- const images = HELPERS.getImageMeta(src);
	- const srcset = HELPERS.createImgSrcset(images.default, images.large);
	- const srcsetWebp = HELPERS.createImgSrcset(images.defaultWebp, images.largeWebp);
	- const args = {src: images.default.src, srcset, srcsetWebp, alt}

	div(
		style=`padding-bottom: ${images.default.paddingBottom};`
		class=HELPERS.classnames(className, 'picture', {'picture--lazyload': lazyLoad})
	)
		if lazyLoad
			+pictureLazyload(args)
		else
			+pictureNonLazyload(args)

mixin pictureNonLazyload(args)
	- const {src, srcset, srcsetWebp, alt} = args;
	picture
		source(
			type="image/webp"
			sizes=CONSTANTS.IMG_FULLWIDTH_SIZES
			srcset=srcsetWebp
		)
		img(
			alt=alt
			sizes=CONSTANTS.IMG_FULLWIDTH_SIZES
			srcset=srcset
			src=src
		)

mixin pictureLazyload(args)
	- const {src, srcset, srcsetWebp, alt} = args;
	picture.no-js-hide
		source(
			type="image/webp"
			sizes=CONSTANTS.IMG_FULLWIDTH_SIZES
			srcset=CONSTANTS.IMG_SRCSET_PLACEHOLDER
			data-srcset=srcsetWebp
		)
		img.lazyload(
			alt=alt
			sizes=CONSTANTS.IMG_FULLWIDTH_SIZES
			src=CONSTANTS.IMG_SRC_PLACEHOLDER
			srcset=CONSTANTS.IMG_SRCSET_PLACEHOLDER
			data-src=src
			data-srcset=srcset
		)
	noscript
		+pictureNonLazyload(args)
