mixin picture({src, alt}, {className} = {})
    - const images = IMAGE_META[src];

    div(
        style=`padding-bottom: ${images.default.paddingBottom};`
        class=`${className} image-wrapper`.trim()
    )
        picture
            srcset(
                data-srcset=images.webp.src
                type="image/webp"
            )
            srcset(
                data-srcset=images.default.src
                type="image/jpeg"
            )
            img.lazyload(
                data-src=images.default.src
                src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                alt=alt
            )