mixin picture({src, alt}, {className, lazyLoad=true, altOverwrite} = {})
    - const image = IMAGE_META[src].default;
    - const imageLarge = IMAGE_META[src].large;
    - const srcset = `${image.src} ${image.width}w, ${imageLarge.src} ${imageLarge.width}w`;
    - const pageMaxWidth = 960; /* from variables.less */

    //- TODO: Used to serve webp images here, but it doesn't play well with current lazyload solution. Revisit.
    div(
        style=`padding-bottom: ${image.paddingBottom};`
        class=`${className} image-wrapper ${lazyLoad ? 'lazyload-wrapper' : ''}`.trim()
    )
        img(
            alt=altOverwrite !== undefined ? altOverwrite : alt
            sizes=`(min-width: ${pageMaxWidth}px) ${pageMaxWidth}px, 100vw`
        )&attributes(
            lazyLoad
                ? {
                    'class': 'lazyload',
					'data-src': image.src,
					'data-srcset': srcset,
					'src': CONSTANTS.SINGLE_PIXEL_TRANSPARENT
                }
                : {
                    'src': image.src,
                    'srcset': srcset
                }
        )
