mixin picture({src, alt}, {className} = {})
    - const images = new ImageManager(src);
    - const defaultImage = images.getDefault();

    div(
        style=`padding-bottom: ${defaultImage.paddingBottom};`
        class=`${className} image-wrapper`.trim()
    )
        picture
            srcset(
                data-srcset=images.getWebp().src
                type="image/webp"
            )
            srcset(
                data-srcset=defaultImage.src
                type="image/jpeg"
            )
            img.lazyload(
                data-src=defaultImage.src
                src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                alt=alt
            )