extends ../layouts/main

block meta
    title=`${country} | Daniel Levett`

block content
    header.site-header
        h1.site-heading=country

    section.site-section
        each post in posts
            div
                h2.blog-listing-heading=`${post.town} - ${post.humanDate}`
                a(href=post.href)
                    +picture(post.mainImage, {className: 'blog-image'})
