mixin relatedPost(post, type)
	if post
		article(class=`related-post ${type}-post`)
			a(href=post.path class=`related-post-link js-${type}-post-link`)
				+picture(HELPERS.immutableExtend(post.mainImage, {
					className: 'related-post-image'
				}))
				h3.related-post-heading
					span.related-post-heading-label= type === 'next' ? 'Next' : 'Previous'
					span.related-post-heading-title= post.town || post.country

if previousPost || nextPost
	aside.related-posts-wrapper
		h2.section-heading Other places
		.related-posts-wrapper-inner
			+relatedPost(previousPost, 'previous')
			+relatedPost(nextPost, 'next')
