mixin relatedPost(post, type)
	if post
		article(class=`related-post related-post--${type}`)
			a(href=post.path class=`related-post__link js-${type}-post-link`)
				+picture(HELPERS.immutableExtend(post.mainImage, {
					className: 'related-post__image',
					alt: ''
				}))
				h3
					span.related-post__label= type === 'next' ? 'Next' : 'Previous'
					span= post.name

if previousPost || nextPost
	aside.related-posts
		h2.heading--underlined Other places
		.related-post__content
			+relatedPost(previousPost, 'previous')
			+relatedPost(nextPost, 'next')
